<!-- RESEARCH & PUBLICATIONS -->
<section id="research">

  <div class="research-header rv">
    <span class="s-badge">Research &amp; Publications</span>

    <h2 class="s-title">
      Research &amp;<br />
      <span>Publications</span>
    </h2>

    <p class="research-subtitle">
      Research exploring practical applications of NLP and machine learning
      for graduate job placement.
    </p>
  </div>


  <!-- FEATURED PUBLICATION -->
  <div class="research-card gc rv d1">

    <!-- TOP META -->
    <div class="research-top">

      <span class="research-type">
        <i class="fa-regular fa-file-lines"></i>
        Conference Paper
      </span>

      <span class="research-date">
        October 2025
      </span>

    </div>


    <!-- TITLE -->
    <h3 class="research-title">
      JobLens: NLP and Machine Learning-Driven CV Mapping and Job Placement
      Model for Fresh Graduates in Bangladesh
    </h3>


    <!-- CONFERENCE -->
    <div class="research-conference">

      <div class="research-conf-icon">
        <i class="fa-solid fa-building-columns"></i>
      </div>

      <div>
        <div class="research-conf-name">
          2025 International Conference on Intelligent Data Analysis and
          Applications (IDAA 2025)
        </div>

        <div class="research-location">
          Daffodil International University, Dhaka, Bangladesh
        </div>
      </div>

    </div>


    <!-- RESEARCH TAGS -->
    <div class="research-tags">

      <span class="research-tag">NLP</span>

      <span class="research-tag">Machine Learning</span>

      <span class="research-tag">CV Mapping</span>

      <span class="research-tag">Job Placement</span>

    </div>


    <!-- DIVIDER -->
    <div class="research-divider"></div>


    <!-- FOOTER -->
    <div class="research-footer">

      <div class="research-authors">
        <i class="fa-solid fa-users"></i>
        <span>Research Publication</span>
      </div>


      <!-- ACTION BUTTONS -->
      <div class="research-actions">

        <!-- VIEW PUBLICATION -->
        <a
          href="https://www.researchgate.net/publication/399869629_JobLens_NLP_and_Machine_Learning-Driven_CV_Mapping_and_Job_Placement_Model_for_Fresh_Graduates_in_Bangladesh"
          target="_blank"
          rel="noopener noreferrer"
          class="research-btn"
        >
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
          View Publication
        </a>


        <!-- READ FULL PAPER -->
        <a
          href="https://drive.google.com/file/d/19Zlw8aDtBA5Zc4yEKOr4vArdtdJzWUlW/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          class="research-btn research-btn-primary"
        >
          <i class="fa-regular fa-file-lines"></i>
          Read Full Paper
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>

      </div>

    </div>

  </div>

</section>

<div class="divider"></div>